<h1>Muqq Operation Platform</h1>
<div ng-controller="op-home-control">
  <div id="user-status">
    <h2 id="account"></h2>
  </div>
    <input ng-model="account" placeholder="account"/>
    <input ng-model="password" placeholder="password" />
    <button class="btn btn-primary" ng-click="login()" >Login</button>
</div>
